@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>

@if(Employees == null){
    <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <div class="card text-center" style="min-width:18rem; max-width:30.5%;float:left; margin-right:10px;margin-bottom:10px;">
                <div class="card-header">
                    @employee.FirstName @employee.LastName @employee.EmployeeId
                </div>
                <div class="card-body">
                    <img src="@employee.PhotoPath" style="width:100%;" />
                </div>
                <div class="card-footer text-muted">
                    <a href="@($"employeedetails/{employee.EmployeeId}")" class="btn btn-primary">View</a>
                    <a href="" class="btn btn-primary">Edit</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
}
